---
layout: front
title: OWASP AppSec Europe 2017
---
<div class="main front">

  <ul class="dates">
    <li><span>Training</span> 8<sup>th</sup>, 9<sup>th</sup> &amp; 10<sup>th</sup> of May 2017</li>
    <li><span>Conference</span> 11<sup>th</sup> &amp; 12<sup>th</sup> of May 2017</li>
    <li><span>Conference dinner</span> 11<sup>th</sup> of May 2017</li>
  </ul>
  <hr>
   
  
  <h2 style="text-align: center">Keynote speakers</h2>
  <ul class="keynoters">
    {% for item in site.data.keynoters %}
      <li>
        <a href="program/keynotes#{{item.name}}"><img src="assets/images/mask.png" alt="{{item.name}}" class="masked" style="background-image: url(assets/images/{{item.image}})">
        <h3>{{item.name}}</h3></a>
      </li>
    {% endfor %} 
  </ul>

<hr>

<section class="about">
<div class="nomargins">
<table class="arrowed" style="max-width: 99em; margin:0 auto;">
<tr><td>Monday</td><td>Tuesday</td><td>Wednesday</td><td>Thursday</td><td>Friday</td></tr>
<tr><td colspan="3" class="blue">Training Courses</td><td colspan="2" class="orange">Main Conference Talks</td></tr>
<tr><td class="green">Schools Outreach</td><td colspan="2" class="green">University Challenge</td><td colspan="2" class="orange">Capture The Flag</td></tr>
<tr><td class="green">Adults Outreach</td><td colspan="2" class="green">OWASP Project Summit</td><td colspan="2" class="orange">Sponsor Exhibits</td></tr>
<tr><td class="green">WIA & WWC Networking Event</td><td colspan="2" class="green">OWASP Developer Summit</td><td colspan="2" class="orange">Activities and Arsenal</td></tr>
<tr><td colspan="2" class="white"></td><td class="green">Social Event</td><td colspan="2" class="orange">Lightning Talks and Training</td></tr>
<tr><td colspan="3" class="white"></td><td class="orange">Conference Dinner</td></tr>
<tr><td colspan="3" class="white"></td><td colspan="1" class="green">WIA Breakfast</td></tr>
<tr><td colspan="5" class="white"><ul class="legend">
  <li class="orange">Conference Ticket</li>
  <li class="blue">Training Costs</li>
  <li class="green">Free</li>
</ul></td></tr>
</table>
</div>


<h2>Welcome to the AppSec Europe Conference</h2>

<p>Welcome to OWASP Annual AppSec EU Security Conference, the premier application security conference for European developers and security experts. AppSec EU provides thought leadership, amazing talks, informative sessions, and great social experiences.</p>

<p>During the pre-conference (Monday 8th - Wednesday 10th May 2017) there is the opportunity to attend one of the many trainings courses on offer from industry experts, plus project summits and outreach sessions to the future pioneers of the application security industry. More details on pre- conference activities can be found <a href="about/pre-conference">here</a>.</p>

<p>The main conference (Thursday 11th &amp; Friday 12th May) offers four full tracks of talks, for pentesters and ethical hackers, developers and security engineers, DevOps practices and GRC/risk level talks for managers and CISOs. More information on the activities in the main conference can be found <a href="about/conference">here</a>.</p>

<h2>What Happens at an AppSec Europe Conference?</h2>

<ul>
  <li>Technical talks by experts in security, devops and cloud</li>
  <li>Panels to debate tough topics</li>
  <li>Training sessions for hands on learning in top security areas</li>
  <li>Keynotes from industry leaders</li>
  <li>Vendor booths to promote the latest advances in security technology</li>
  <li>A variety of other activities such as recruiting fair, capture the flag, security tool training, and more</li>

  <li style="margin-top: 1em">Check out the previous conferences to get even more information on what to expect:<ul>

  <li><a href="https://2016.appsec.eu/">OWASP AppSec Europe 2016</a></li>
  <li><a href="https://2015.appsec.eu/">OWASP AppSec Europe 2015</a></li>
  <li><a href="https://2014.appsec.eu/">OWASP AppSec Europe 2014</a></li>
</ul></li></ul>
</section>

<section class="blue">
<h2 style="text-align: center">Latest news about the conference:</h2>
<div style="display: flex; justify-content: space-around; ">
<ul style="text-align: left;">
{% for article in site.data.news | limit:3 %}
<li><a href="{{article.url}}">{{article.title}}</a></li>
{% endfor %}
</ul>
</div>
</section>


  <h2 style="text-align: center">Thank you AppSec Europe 2017 Sponsors</h2>
  {% include sponsors.html %}

<hr>
<div class="nomargins">
  <div class="tweets" style="margin: 0 auto; width: 350px;">
  <a class="twitter-timeline" data-width="350" data-height="250" href="https://twitter.com/AppSecEU">Tweets by AppSecEU</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
  </div>
</div>

</div>
