---
layout: front
title: OWASP AppSec Europe 2017
---
<div class="main front">

  <h2 class="dates">Training: <em>8<sup>th</sup> to 10<sup>th</sup> May</em> &emsp;&emsp;  Conference: <em>11<sup>th</sup> &amp; 12<sup>th</sup> May</em></h2>

  
  <ul class="sellingpoints">
    <li>
      <h3>Trainings and conference</h3>
      <p>Combine exceptional trainings in application security topics with a great conference</p>
    </li>
    <li>
      <h3>Venue</h3>
      <p>Discover the capital of Northern Ireland</p>
    </li>
    <li>
      <h3>Key conference</h3>
      <p>OWASP AppSec Europe is the leading gathering in web application security.</p>
    </li>  
  </ul>
 
<hr>
  
  <h2 style="text-align: center">Keynote speakers</h2>
  <ul class="keynoters">
    {% for item in site.data.keynoters %}
      <li>
        <a href="program/keynotes#{{item.name}}"><img src="assets/images/mask.png" alt="{{item.name}}" class="masked" style="background-image: url(assets/images/{{item.image}})">
        <h3>{{item.name}}</h3></a>
      </li>
    {% endfor %} 
  </ul>

<hr>

  <h2 style="text-align: center">Sponsors</h2>
  {% include sponsors.html %}

<hr>
  <div class="tweets" style="margin: 0 auto; width: 400px;">
  <a class="twitter-timeline" data-width="400" data-height="250" href="https://twitter.com/AppSecEU">Tweets by AppSecEU</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
  </div>
</div>
