<!-- FOOTER -->
	<div class="container">
    <footer>
	    <br><br><br><br>
	    <p class="pull-right"><a href="#">Back to top</a></p>
	    <p>&copy; OWASP Appsec Europe 2017 - Belfast</p>
    </footer>
	    
	</div><!-- /.container -->

  <!-- Bootstrap core JavaScript
   ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="{{baseUrl}}assets/js/jquery.min.js"></script>
  <!-- Include all compiled plugins (below), or include individual files as needed -->
  <script src="{{baseUrl}}assets/js/bootstrap.min.js"></script>
  <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
  <script src="{{baseUrl}}assets/js/ie10-viewport-bug-workaround.js"></script>

  <script>window.jQuery || document.write('<script src="{{baseUrl}}assets/js/vendor/jquery.min.js"><\/script>')</script>
</body>
</html>