{% if site.safe %}{% assign baseUrl = "/demo-site/" %}{% else %}{% assign baseUrl = "/" %}{% endif %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <meta name="description" content="OWASP Appsec Europe 2017 - Belfast">
  <title>{{ page.title }}</title>
  <link type="text/css" rel="stylesheet" href="{{baseUrl}}assets/css/style.css">
</head>
<body>

<header>
	<a href="{{baseUrl}}"><img src="{{baseUrl}}assets/images/A1_belfast_2017.jpg"></a>
	<nav>
		<a class="burger" aria-haspopup="true" aria-expanded="false" class="dropdown-toggle" data-toggle="dropdown">☰</a>
		<ul class="nav navbar-nav">
		{% for menu in site.data.menus %}
			{% if menu.items %}
			  <li class="dropdown">
			    <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{menu.title}}</a>
			      <ul class="dropdown-menu">
			      {% for item in menu.items %}
			          <li><a href="{{baseUrl}}{{item.url}}">{{item.title}}</a></li>
			      {% endfor %}
			  		</ul>
				</li>
			{% else %}
			  <li>
			    <a href="{{baseUrl}}{{menu.url}}">{{menu.title}}</a>
				</li>
			{% endif %}
		{% endfor %}
		</ul>
	</nav>
</header>


