---
---
@import "reset.css";

$orange: #ee4229;
$blue: #1f5e83;
$gray: #f2f2f2;
$azure: #15486e;


$blue-medium:		#0a7fcf;
$green: 				#71b851;


body {
	margin: 0;
	padding: 0% 3%;
	font-family: 'Lato', sans-serif;
	font-size: 90%;
}

a {
	text-decoration: none;
	color: $blue;
	&:hover {
		text-decoration: underline;
	}
}

h1 {
	font-size: 170%;
	font-weight: bold;
	margin-bottom: 0.5em;
	background: #000;
	color: #fff;
	display: inline-block;
	padding: 0.5em 1em;
}

h2 {
	font-size: 150%;
	font-weight: bold;
	margin-bottom: 0.5em;
	margin-top: 1em;
	color: $orange;
}


h3 {
	font-size: 120%;
	font-weight: bold;
	margin-bottom: 0.5em;
	color: $orange;
}

.front h2 {
	text-transform: uppercase;
}


sup {
	font-size: 75%;
	vertical-align: top;
}

header a {
	img:nth-child(1) {
		width: 17%;
		margin-left: 2em;
	}
	img:nth-child(2) {
		width: 47%;
		float: right;
		margin-top: 2%;
		margin-bottom: -10%;
	}
}




nav {
	padding-left: 2em;
	font-weight: bold;
	background: $gray;
	border-bottom: 1px solid #ddd;
	z-index: 2;
	position: relative;
	font-size: 90%;

	.burger {
		display: none;
		margin-left: 0.1em;
	}

	a {
		color: $blue;
		text-decoration: none;
		display: block;
		padding: 0.5em;
		padding-right: 1em;
	
		&:hover {
			text-decoration: none;
			background: $blue;
			color: #fff;
		}
	}

	> ul {
		display: flex;
		flex-wrap: wrap;
		justify-content: flex-start;
		list-style: none;
		margin: 0;
		padding: 0;
		
		> li {
			min-width: 8em;
			position: relative;
			flex: 0 1 auto;
			margin: 0;
			padding: 0em 1em 0em 0em;
			transition: all linear 0.1s;
			line-height: 1.5em;

			&.dropdown > a:after {
				content: "\25be";
				margin-left: 0.25em;
			}

			> ul {
				display: none;
				position: absolute;
				z-index: 2;
				list-style: none;
				xwidth: 12em;
				white-space: nowrap;
				margin: 0;
				padding: 0;
				background: #eee;
				box-shadow: 0px 5px 2px rgba(0,0,0,0.5);
				left: 0em;
			}
		}

		> li:hover > ul {
			display: block;
		}
	}
}

.masked {
	background-position: center center;
	background-size: cover;
}

.carousel {
	background: #000;
	position: relative;
	overflow: hidden;
	font-size: 120%;

	ul {
		margin: 0;
		padding: 0;
		list-style:none;
		position:relative;
	 	overflow:hidden;
	 	height: 16em;

		li {
			margin: 0;
			padding: 0;
			position: relative;
			float: left;
			height: 100%;
			text-shadow: 0px 2px 3px rgba(0, 0, 0, 1);
			color: #fff;
			display: block;
			background-size: cover;
			background-position: center center;
			background-repeat: no-repeat;
		}
	}

	div {
		position: absolute;
		width: 100%;
		top: 5%;
		padding: 0.5em 0em;
		padding: 3%;
	}
	h2 {
		color: #fff;
		font-size: 180%;
		margin-bottom: 0;
		margin-top: 0.5em;
	}
}




.main {
	margin-top: 0em;
	min-height: 20em;
	padding: 0em 2em;
	line-height: 1.5em;
	text-align: justify;

	aside {
		float: right;
		width: 20%;
		min-width: 16em;
		text-align: justify;
		margin-top: 5em;
		border-top: 30px solid $orange;
		background-color: $blue;
		color: white;
		margin-left: 3em;
		margin-bottom: 3em;
		ul {
			list-style: none;
		}
		li {
			margin: 1em 0em;
		}
	}

	hr {
		margin-left: -2em;
		margin-right: -2em;
		border: none;
		border-top: 1px solid #ddd;
		margin-bottom: 4em;
		margin-top: 2em;
	}

	ul { 
		list-style: disc;
		margin: 0.5em 1.5em;
	}
	p {
		margin-bottom: 1em;
	}
	strong {
		font-weight: bold;
	}

	img.content {
		 max-width: 100%;
		 margin: 1em 0em;
	}

	em {
		font-size: 120%;
		color: $blue;
		font-weight: bolder;
	}

	.team-list {
		display: flex;
		flex-wrap: wrap;
		list-style: none;
		margin: 0;
		padding: 1em 0em;
		justify-content: flex-start;

		> li {
			max-width: 50%;
			width: 200px;
			box-sizing: border-box;
			text-align: center;
			padding-bottom: 1em;

			img {
				width: 50%;
				max-width: 150px;
				background-size: cover;
				background-position: center center;
			}

			span {
				display: block;
				color: $blue;
			}
		}
	}

	table {
		border-collapse: collapse;

		thead th {
			background-color: $azure;
		}

		th {
			background-color: $orange;
			color: #fff;
			font-weight: bold;
		}

		td {
			background-color: $gray;
		}

		td, th {
			padding: 0.5em 1em;
			border-bottom: #fff solid 0.25em;
		}

		&.registration {
			th { width: 25%; }
			th:first-child { width: 50%; }
			thead th:nth-child(n+2), td:nth-child(n+2) { text-align: right; white-space: nowrap; }
		}
	}
	section.about {
		text-align: center;
		ul {
			display: table;
			text-align: initial;
			margin: 0 auto;
		}
		p {
			text-align: initial;
		}
	}
	section.blue {
		background: $blue;
		color: #fff;
		margin-left: -5em;
		margin-right: -5em;
		margin-top: 2em;
		margin-bottom: 2em;
		padding-left: 5em;
		padding-right: 5em;
		padding-top: 2em;
		padding-bottom: 3em;
		text-align: center;
		a {
			color: #fff;
		}
		h2 {
			font-size: 200%;
		}
	}
	ul.flex {
		list-style: none;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
	}

	table.arrowed {
		width: 100%;
		font-size: 65%;
		border-collapse: separate;
		&.full {
			td {
				width: auto;
			}
			th:nth-child(3), th:nth-child(4), th:nth-child(5) {
				width: 10%;
				text-align: center;
			}
		}
		td {
	    background-color: #9e9e9e;
	    line-height: 1em;
	    padding: 0.5em;
	    position: relative;
	    color: #fff;
	    width: 20%;
	    text-align: center;
	    height: 3.2em;
	    vertical-align: middle;
	    box-sizing: border-box;
	    border-right: 0.8em solid #fff;
		}
		td:after {
			content: "";
			height: 100%;
			width: 0.8em;
			position: absolute;
			top: 0em;
			right: -0.8em;
			background-position: right center;
			background-size: 100% 100%;
			background-repeat: no-repeat;
			background-image: url(../images/pointed-gray.svg);
		}


		td.hidden { 
			visibility: hidden;
		}
		td.orange {
			background-color: $orange;
			&:after {
				background-image: url(../images/pointed-orange.svg);
			}
		}
		td.blue {
			background-color: $blue-medium;
			&:after {
				background-image: url(../images/pointed-blue.svg);
			}
		}
		td.green {
			background-color: $green;
			&:after {
				background-image: url(../images/pointed-green.svg);
			}
		}
		td.noarrow, td.white {
			background-color: #fff;
			color: #000;
			text-align: left;
			&:after {
				background-image: none;
			}
		}
		ul.legend {
			color: #000;
			font-size: 130%;
			display: flex;
			flex-wrap: wrap;
			list-style: none;
			margin: 0;
			justify-content: flex-start;
			li {
				margin-right: 2em;
				&.orange:before { color: $orange }
				&.blue:before { color: $blue-medium }
				&.green:before { color: $green }
			}
			li:before {
				content: "\2B22";
				position: relative;
				top: -0.1em;
				left: -0.2em;
			}
		}
		td.wia { 
			background-color: #c5008f;
			&:after {
				background-image: url(../images/pointed-wia.svg);
			}
		}
	}

	&.wia {
		h2 { color: #c5008f }
		h3 { color: #0077a8 }
	}

	.nomargins {
		margin-left: -2em;
		margin-right: -2em;
	}

	ul.dates {
		list-style: none;
		margin: 1.5em 0em;
		padding: 0;
		color: #1f5e83;
		font-size: 120%;
		li {  
			margin: 0 auto;
			padding: 0;
		}
		li { width: 22em; }
		li span { width: 9em; display: inline-block; text-align: right; }
		li span::after { content: " - "}
	}

	.sponsors {
		h3 {
			text-align: center;
		}
		div {
			display: flex;
			flex-wrap: wrap;
			list-style: none;
			margin: 0;
			justify-content: space-around;
			a {
				height: 80px;
				margin: 35px 10px;
				width: 180px;
				background-size: contain;
				background-repeat: no-repeat;
				background-position: center center;
			}
			&.Diamond a {
				width: 270px;
			}
			&.Platinum a {
				width: 220px;
			}
			&.Gold a {
				width: 200px;
			}
		}
	}
	.supporters {
		display: flex;
		flex-wrap: wrap;
		margin: 0;
		justify-content: space-around;
		a {
			height: 150px;
			width: 180px;
			background-size: contain;
			background-repeat: no-repeat;
			background-position: center center;
		}
	}


	.sellingpoints {
		color: $blue;
		display: flex;
		flex-wrap: wrap;
		justify-content: flex-start;
		list-style: none;
		margin: 0;
		margin-top: 2em;
		padding: 1em 0em;

		> li {
			width: 33%;
			flex: 0 1 auto;
			box-sizing: border-box;
			padding: 1em;
			text-align: center;
		}

		h3 {
			text-transform: uppercase;
			font-weight: bold;
		}
	}
	.keynotes {
		list-style: none;
	}

	.keynoters {
		color: $blue;
		display: flex;
		flex-wrap: wrap;
		justify-content: flex-start;
		list-style: none;
		margin: 0;
		padding: 1em 0em;

		> li {
			width: 25%;
			flex: 0 1 auto;
			box-sizing: border-box;
			padding: 1em;
			text-align: center;
			p {
				height: 3em;
			}
		}

		img {
			width: 60%;
			background-position: center center;
			background-repeat: no-repeat;
			background-size: cover;			
		}
	}
	.keynotepage {
		img { 
			float: left; 
			width: 200px;
			margin-right: 2em;
			margin-bottom: 1em;
		}
		li:nth-child(2n+1) img { 
			float: right;
 			margin-left: 2em;
		}
		li { 
			display: table;
			clear: both;
			margin-bottom: 2em;
		}
	}
}


img.worldmap {
	margin: -10% -5% -10% 0%; 
	width: 100%;
	min-width: 30em;
}

q {
	position: relative;
	padding: 0.5em 1em;
	margin: 1em 0 1em;
	color: #fff;
	background: $blue;
	display: inline-block;
	font-size: 1.2em;
	&:after {
		content: "";
		position: absolute;
		bottom: -0.9em;
		right: 2em;
		border-width: 1em 0.5em 0 0.5em;
		border-style: solid;
		border-color: $blue transparent;
		display: block;
		width: 0;
	}
	&.orange {
		background: $orange;
		&:after {
			border-color: $orange transparent;
		}
	}
}

.twocols {
	display: flex;
	justify-content: space-around;
	> div {
		flex: 0 1 auto;
		xwidth: 50%;
		text-align: left;
	}
}


.googlemap {
	width: 100%;
	max-width: 800px;
	height: 450px;
	margin: 1em 0em;
}



footer {
	text-align: center;
	padding: 1em;
	padding-bottom: 0em;
	margin-top: 3em;
	font-size: 80%;


	div {
		display: inline-block;
		background: #000;
		color: #fff;
		padding: 1em 2em;
	}
}

@media (max-width: 500px) {
	body {
		padding: 0;
	} 

	header a {
		img:nth-child(1) {
			margin-left: 1em;
		}
	}

	img.worldmap {
		margin: -10% 0% -10% 0%; 
		width: 100%;
		min-width: auto;
	}


	.main {
		.sellingpoints, .keynoters {
			display: block;		
			li {
				width: 100%;
			}
		}
		ul.dates {
			font-size: 90%;
		}
		
		table.arrowed {
			width: 90%;
		}

		x.team-list > li{ width: 50%;}

		.keynoters img {
			width: 50%;
		}
		.keynotepage {
			img { 
				float: none; 
				width: 200px;
				margin-right: 0em;
				margin-bottom: 0em;
			}
			li:nth-child(2n+1) img { 
				float: none;
	 			margin-left: 0em;
			}
			li { 
				display: block;
				clear: both;
			}
		}
		aside {
			width: 100%;
			margin-left: 0;
			margin-top: 0;
		}
		.tweets{
			margin-left: -2em;
			margin-right: -2em;
		}
	}

	nav {
		font-size: 100%;
		padding: 0;
		
		.burger {
			display: block;
			padding: 0.5em;
			margin-left: 0em;
		}

		> ul {
			display: none;
		}

		&:hover > ul, .burger:hover + ul {
			display: block;	
		}

		> ul {
			> li {
				width: 100%;
				flex: none;

				> ul {
					display: none;
					position: relative;
					z-index: 0;
					width: 100%;
					margin: 0 0 0 1em;
					padding: 0;
					background: transparent;
					box-shadow: none;
					left: auto;
				}
			}

			> li:hover > ul {
				display: block;
			}
		}
	}
	.carousel ul {
		height: 14em;
	}
	.twocols {
		flex-direction: column;
		justify-content: center;
	}
}


