---
---
@import "reset.css";

$orange: #ee4229;
$blue: #1f5e83;
$gray: #f2f2f2;
$azure: #15486e;

body {
	margin: 0;
	padding: 0% 3%;
	font-family: 'Lato', sans-serif;
	font-size: 90%;
}

a {
	text-decoration: none;
	color: $blue;
	&:hover {
		text-decoration: underline;
	}
}

h1 {
	font-size: 170%;
	font-weight: bold;
	margin-bottom: 0.5em;
	background: #000;
	color: #fff;
	display: inline-block;
	padding: 0.5em 1em;
}

h2 {
	font-size: 150%;
	font-weight: bold;
	margin-bottom: 0.5em;
	margin-top: 1em;
	color: $orange;
}


h3 {
	font-size: 120%;
	font-weight: bold;
	margin-bottom: 0.5em;
	color: $orange;
}

.front h2 {
	text-transform: uppercase;
}


sup {
	font-size: 75%;
	vertical-align: top;
}

header a {
	img:nth-child(1) {
		width: 17%;
		margin-left: 2em;
	}
	img:nth-child(2) {
		width: 47%;
		float: right;
		margin-top: 2%;
		margin-bottom: -1%;
	}
}





nav {
	padding-left: 2em;
	font-weight: bold;
	background: $gray;
	border-bottom: 1px solid #ddd;
	z-index: 2;
	position: relative;
	font-size: 90%;

	.burger {
		display: none;
		margin-left: 0.1em;
	}

	a {
		color: $blue;
		text-decoration: none;
		display: block;
		padding: 0.5em;
	
		&:hover {
			text-decoration: none;
			background: $blue;
			color: #fff;
		}
	}

	> ul {
		display: flex;
		flex-wrap: wrap;
		justify-content: flex-start;
		list-style: none;
		margin: 0;
		padding: 0;
		
		> li {
			min-width: 8em;
			position: relative;
			flex: 0 1 auto;
			margin: 0;
			padding: 0em 1em 0em 0em;
			transition: all linear 0.1s;
		
			&.dropdown > a:after {
				content: "\25be";
				margin-left: 0.25em;
			}

			> ul {
				display: none;
				position: absolute;
				z-index: 2;
				list-style: none;
				width: 12em;
				margin: 0;
				padding: 0;
				background: #eee;
				box-shadow: 0px 5px 2px rgba(0,0,0,0.5);
				left: 0em;
			}
		}

		> li:hover > ul {
			display: block;
		}
	}
}

.masked {
	background-position: center center;
	background-size: cover;
}

.carousel {
	background: #000;
	position: relative;
	overflow: hidden;
	font-size: 120%;

	ul {
		margin: 0;
		padding: 0;
		list-style:none;
		position:relative;
	 	overflow:hidden;
	 	height: 16em;

		li {
			margin: 0;
			padding: 0;
			position: relative;
			float: left;
			height: 100%;
			text-shadow: 0px 2px 3px rgba(0, 0, 0, 1);
			color: #fff;
			display: block;
			background-size: cover;
			background-position: center center;
			background-repeat: no-repeat;
		}
	}

	div {
		position: absolute;
		width: 100%;
		top: 5%;
		padding: 0.5em 0em;
		padding: 3%;
	}
	h2 {
		color: #fff;
		font-size: 180%;
		margin-bottom: 0;
		margin-top: 0.5em;
	}
}

.main {
	margin-top: 0em;
	min-height: 20em;
	padding: 0em 2em;
	line-height: 1.5em;
	text-align: justify;

	aside {
		float: right;
		width: 20%;
		min-width: 16em;
		text-align: justify;
		margin-top: 5em;
		border-top: 30px solid $orange;
		background-color: $blue;
		color: white;
		margin-left: 3em;
		margin-bottom: 3em;
		ul {
			list-style: none;
		}
		li {
			margin: 1em 0em;
		}
	}

	hr {
		margin-left: -2em;
		margin-right: -2em;
		border: none;
		border-top: 1px solid $blue;
		margin-bottom: 3em;
	}

	ul { 
		list-style: disc;
		margin: 0.5em 1.5em;
	}
	p {
		margin-bottom: 1em;
	}
	strong {
		font-weight: bold;
	}

	img.content {
		 max-width: 100%;
		 margin: 1em 0em;
	}

	em {
		font-size: 120%;
		color: $blue;
		font-weight: bolder;
	}

	.team-list {
		display: flex;
		flex-wrap: wrap;
		list-style: none;
		margin: 0;
		padding: 1em 0em;
		justify-content: flex-start;

		> li {
			max-width: 50%;
			width: 200px;
			box-sizing: border-box;
			text-align: center;
			padding-bottom: 1em;

			img {
				width: 50%;
				max-width: 150px;
				background-size: cover;
				background-position: center center;
			}

			span {
				display: block;
				color: $blue;
			}
		}
	}

	table {
		border-collapse: collapse;

		thead th {
			background-color: $azure;
		}

		th {
			background-color: $orange;
			color: #fff;
			font-weight: bold;
		}

		td {
			background-color: $gray;
		}

		td, th {
			padding: 0.5em 1em;
			border-bottom: #fff solid 0.25em;
		}

		&.registration {
			th { width: 25%; }
			th:first-child { width: 50%; }
			thead th:nth-child(n+2), td:nth-child(n+2) { text-align: right ; }
		}
	}


	.sponsors {
		display: flex;
		flex-wrap: wrap;
		list-style: none;
		margin: 0;
		justify-content: space-around;

		li {
			height: 150px;
			width: 200px;
			background-size: contain;
			background-repeat: no-repeat;
			background-position: center center;
		}
	}



	.sellingpoints {
		color: $blue;
		display: flex;
		flex-wrap: wrap;
		justify-content: flex-start;
		list-style: none;
		margin: 0;
		padding: 1em 0em;

		> li {
			width: 33%;
			flex: 0 1 auto;
			box-sizing: border-box;
			padding: 1em;
			text-align: center;
		}

		h3 {
			text-transform: uppercase;
			font-weight: bold;
		}
	}
	.keynotes {
		list-style: none;
	}

	.keynoters {
		color: $blue;
		display: flex;
		flex-wrap: wrap;
		justify-content: flex-start;
		list-style: none;
		margin: 0;
		padding: 1em 0em;

		> li {
			width: 25%;
			flex: 0 1 auto;
			box-sizing: border-box;
			padding: 1em;
			text-align: center;
			p {
				height: 3em;
			}
		}

		img {
			width: 60%;
			background-position: center center;
			background-repeat: no-repeat;
			background-size: cover;			
		}
	}
}







img.worldmap {
	margin: -10% -5% -10% 0%; 
	width: 100%;
	min-width: 30em;
}

q {
	position: relative;
	padding: 0.5em 1em;
	margin: 1em 0 1em;
	color: #fff;
	background: $blue;
	display: inline-block;
	font-size: 1.2em;
	&:after {
		content: "";
		position: absolute;
		bottom: -0.9em;
		right: 2em;
		border-width: 1em 0.5em 0 0.5em;
		border-style: solid;
		border-color: $blue transparent;
		display: block;
		width: 0;
	}
	&.orange {
		background: $orange;
		&:after {
			border-color: $orange transparent;
		}
	}
}

.googlemap {
	width: 100%;
	max-width: 800px;
	height: 450px;
	margin: 1em 0em;
}



footer {
	text-align: center;
	padding: 1em;
	margin-top: 3em;
	font-size: 80%;


	div {
		display: inline-block;
		background: #000;
		color: #fff;
		padding: 1em 2em;
	}
}

@media (max-width: 500px) {
	body {
		padding: 0;
	} 

	header a {
		img:nth-child(1) {
			margin-left: 1em;
		}
	}

	img.worldmap {
		margin: -10% 0% -10% 0%; 
		width: 100%;
		min-width: auto;
	}


	.main {
		.sellingpoints, .keynoters {
			display: block;		
			li {
				width: 100%;
			}
		}

		x.team-list > li{ width: 50%;}

		.keynoters img {
			width: 50%;
		}

		aside {
			width: 100%;
			margin-left: 0;
			margin-top: 0;
		}
	}

	nav {
		font-size: 100%;
		padding: 0;
		
		.burger {
			display: block;
			padding: 0.5em;
			margin-left: 0em;
		}

		> ul {
			display: none;
		}

		&:hover > ul, .burger:hover + ul {
			display: block;	
		}

		> ul {
			> li {
				width: 100%;
				flex: none;

				> ul {
					display: none;
					position: relative;
					z-index: 0;
					width: 100%;
					margin: 0 0 0 1em;
					padding: 0;
					background: transparent;
					box-shadow: none;
					left: auto;
				}
			}

			> li:hover > ul {
				display: block;
			}
		}
	}
	.carousel ul {
		height: 14em;
	}
}


